.talent {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.talent h2 {
  color: black;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
  background: #f6f7f9;
  border: 1px solid #ccc;
  border-radius: 24px;
}

.search-input {
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 2px;
  flex-grow: 1;
  flex-direction: row-reverse;
  font-size: 12px;
}

.search-input input[type="text"] {
  border: none !important;
  padding: 8px 16px;
  font-size: 16px;
  background: #f6f7f9;
}

button > .svg-inline--fa {
  font-size: 20px;
}

.search-input input[type="text"]:focus + i {
  border: none;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}
.search-input button {
  padding: 8px 12px;
  background: none;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.select-dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
  margin-left: 8px;
}

.search-btn {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Additional styles might be necessary for focus states, active states,
     and to ensure consistency across different browsers and devices. */

/* Remember to reset the default styling of the form elements for a more consistent appearance */
#talentSection .card {
  background-color: rgba(246, 247, 249, 1);
  padding: 10px 10px 0 10px;
  border: none;
  border-radius: 10px;
}
